#sidebar
{
    height: 100%;
    background-color: #184d47;
}

#sidebar .custom-menu .btn.btn-primary:after
{
    background-color: #184d47;
}

#sidebar h1 .logo span 
{
    color: #96bb7c;
}

#sidebar ul li a span 
{
    color: #96bb7c;
}