<div class="row">
  <div class="col-md-12">
    <form>
      <fieldset>
        <legend>Agregar una nueva receta</legend>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control" placeholder="Enter title">
          <p class="text-input">Este sera el titulo que tendra la nueva receta</p> 
        </div>

        <div class="form-group">
          <label for="imageUrl">Image url</label>
          <input type="text" name="imageUrl" class="form-control" placeholder="Enter image url">
          <p class="text-input">Asegurate de copiar la url de la imagen tal como corresponda</p>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea rows="3" name="description" class="form-control"
            placeholder="Enter description"></textarea>
        </div>

        <button class="btn btn-success">Agregar receta</button>
      </fieldset>
    </form>
  </div>
</div>
