<div class="card mt-2">
  <img [src]="recipe.imagen" class="card-img-top" [alt]="recipe.title">
  <div class="card-body">
    <h5 class="card-title"> {{ recipe.title }} </h5>
    <p class="card-text"> {{ recipe.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a   
      (click)="onRecipeEdit($event)"
      href="#" 
      class="card-link">
      <i class="icofont icofont-ui-edit"></i>
      Editar
    </a>
    <a 
      (click)="onRecipeDelete($event)"
      href="#" 
      class="card-link">
      <i class="icofont icofont-ui-delete"></i>
      Eliminar</a>
  </div>
</div>

