h3 
{
    font-size: 1.4rem;
    margin: 0;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #96bb7c;
    border-color: #f8f8f8;
}

.list-group-item.active h3
{
    color: #f8f8f8 !important;
} 

.list-group-item a img 
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}